body {
    background-color: #f7f7f7;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.first {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.first h1 {
    color: #ff3366;
    font-size: 32px;
    margin-bottom: 10px;
}
.first p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
}
img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.message {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(red, green, blue, alpha);
}
button {
    background-color: #ff3366;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button.hover {
    background-color: #da1a58;
}
@keyframes rainbow {
    0% {
        color: #ff3366;
    }
    16.6%{
        color: #ff5b5b;
    }
    33.3%{
        color: #f5ad48;
    }
    50%{
        color: #ffee63;
    }
    66.6%{
        color: #6aca93;
    }
    83.3%{
        color: #4B7c9f;
    }
    100%{
        color: #a16f9b;
    }

}
.animate {
    animation: rainbow 2s infinite;
}